.home-container {
    width: 100%;
    height: 80vh;
    min-height: 650px;
    background-color: var(--minor-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-container {
    width: 100%;
    max-width: 800px;
    margin-top: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hero-img {
    width: 350px;
    height: 300px;
    margin: auto;
}
.text-group {
    text-align: left;
}
.fname{
    font-size: 130px;
    margin-top: -30px;
    margin-bottom: 0;
    text-decoration: underline;
}
.lname {
    font-size: 130px;
    margin-top: -87px;
    margin-bottom: 0;
    
}
.greeting {
    font-size: 17px;
    font-weight: 200;
    margin-top: -20px;
    text-align: left;
    color: gray;
}

@media screen and (max-width: 950px) {
    .home-container{
        height: fit-content;
    }
    .logo-container {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
    .text-group {
        text-align: left;
        width: 350px;
        margin-left: -20px;
        margin-top: 40px;
    }
    
}