.footer-container {
    width: 100%;
    height: fit-content;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
.footer {
    font-size: 20px;
    text-align: center;
    padding: 3px;
}
.github-linkedin-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-img {
    margin-top: .5px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 24px;
    height: 24px;
}