.header {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in;
  border-top: 0.5px solid #888;
  border-bottom: 0.5px solid #888;
  z-index: 10;
  font-size: 2rem;
}

.header-menu {
  display: flex;
  width: 100%;  
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 3.2rem;
}

.name {
  width: 20rem;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 3.2rem;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
}

.menu {
  padding-left: 2.4rem;
  letter-spacing: -0.2rem;
  background: transparent !important;
}

.menu a {
  background: transparent !important;
}

.name:hover,
.name:active, 
.menu:hover,
.menu:active {
  cursor: pointer;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  background: transparent;
  height: 2.4rem;
  width: 2.4rem;
  color: #333;
}

.mobile-nav-icon[name="close-icon"] {
  display: none;
}


@media screen and (max-width: 950px) {
  .header-menu {
    display: flex;
    align-items: center;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: rgba(219, 219, 219, 0.5);    
    /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .mobile-nav-icon {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 3.2rem;
  }

  .nav-open .mobile-nav-icon[name="close-icon"] {
    display: block;
  }

  .nav-open .mobile-nav-icon[name="open-icon"] {
    display: none;
  }

  .main-nav-list {
    background: transparent;
    flex-direction: column;
    gap: 3.2rem;
    font-size: 3.2rem;
  }

  .menu:hover,
  .menu:active {
    color: #333;
  }


}

